<p>All workshops are from 4-7pm PST</p>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Feb. 18</td>  <td><a href="https://datacarpentry.org/sql-ecology-lesson/">Intro to SQL</a></td> </tr>
      <tr> <td>Feb. 25</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming in Python</a></td> </tr>
      <tr> <td>Mar. 4</td>  <td><a href="https://github.com/ucla-data-archive/scrape-interwebz/tree/master/1_APIs">Working with APIs in Python</a></td> </tr>
    </table>
  </div>
</div>
